<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Ebuy Plus</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/market_db</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>your_db_user</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>your_db_password</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>filter.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/check-login</url-pattern>
		<url-pattern>/sell</url-pattern>
		<url-pattern>/get-buyer</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/create</url-pattern>
		<url-pattern>/details</url-pattern>
		<url-pattern>/close</url-pattern>
		<url-pattern>/search</url-pattern>
		<url-pattern>/buy</url-pattern>
		<url-pattern>/offers</url-pattern>
		<url-pattern>/place</url-pattern>
		<url-pattern>/get-image</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/sell</url-pattern>
		<url-pattern>/get-buyer</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/create</url-pattern>
		<url-pattern>/details</url-pattern>
		<url-pattern>/close</url-pattern>
		<url-pattern>/search</url-pattern>
		<url-pattern>/buy</url-pattern>
		<url-pattern>/offers</url-pattern>
		<url-pattern>/place</url-pattern>
		<url-pattern>/get-image</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>